<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMFINITY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="navbar">
        <div>
            <input type="search" placeholder="Search" id="queries" oninput="debounce(fetchData,2000)">
            <i id="icon" class="fa-solid fa-magnifying-glass" onclick="getData()"></i>
        </div>
        <a class="Login" href="./login.html">Login</a>
        <a href="./publicPlaylist.html">Public</a>
        <a href="./privatePlayList.html">Private</a>
    </div>
    <div id="movies_data">

    </div>
</body>

</html>
<script src="./Script/index.js" type='module'></script>