<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private PlayList</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="navbar">
        <a href="./index.html">Home</a>
        <a href="./publicPlaylist.html">Public</a>
        <a class="Login" href="./login.html">Login</a>
    </div>
    <h1>Private Play List</h1>
    <div id="movies_data">

    </div>
</body>
</html>
<script src="./Script/privatePlayList.js"></script>